* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px;
    background-image: url('../assets/bg-img.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    filter: brightness(40%) blur(10px);
    z-index: 0;
}

@media screen and (max-width: 1440px) {
    .login-container {
        background-size: contain;
    }
}

.login-logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 99;
}

.login-logo img {
    max-width: 160px;
    max-height: 160px;
    object-fit: contain;
    border-radius: 300px;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, var(--text-head-color), var(--text-head-color));
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, var(--text-head-color), var(--text-head-color));
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: var(--text-bg-color);
    z-index: 10;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
}

.form h2 {
    color: var(--text-head-color);
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputBox {
    position: relative;
    width: 300px;
    margin-top: 25px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-body-color);
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 27px 0px 10px;
    font-size: 1em;
    color: var(--text-head-color);
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: var(--btn-bg-color);
    transform: translate(0px) translateY(-50px);
    font-size: 0.9em;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--btn-bg-color);
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
    height: 44px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    position: relative;
    left: -55px;
    top: 25px;
    font-size: 1em;
    color: var(--dark-gray);
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(2) {
    color: var(--btn-bg-color);
}

input[type="submit"] {
    border: none;
    outline: none;
    background: var(--btn-bg-color);
    padding: 11px 25px;
    width: 100px;
    margin-top: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-head-color);
}