:root {
    --text-head-color: #d3d3d3;
    --text-body-color: #f5f5f5;
    --text-bg-color: #02111b;
    --page-bg-color: #a6a6a6;
    --dark-gray: #808080;
    --btn-bg-color: #a24f24;
    --btn-hover-color: #763310;
}